<a href="https://colab.research.google.com/github/AkaMajed/MY-ALP-/blob/main/DAY2_IIIN_ALP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#iretation with a counter

In [ ]:
counter = 1

while counter < 6:
  print(counter)
  counter +=1
print("the loop has finished")

1
2
3
4
5
the loop has finished

In [ ]:
counter = int(input("please enter a number so we can start the count"))

while counter > 0:
  print(counter)
  counter -=1
print("blast off")

please enter a number so we can start the count212
212
211
210
209
208
207
206
205
204
203
202
201
200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
blast off

In [ ]:
correctUserName = "Dave"

userName = input(("please enter your username"))

while userName != correctUserName:
  userName = input("Username incorrect, please try again.")

print("userName accepted.")

please enter your usernameWS
Username incorrect, please try again.Dave
userName accepted.

In [ ]:
correctPassword = input(("enter your password please"))

Password = input(("please enter your Password again "))

while Password != correctPassword:
  Password = input("password incorrect, please try again.")

print("Password accepted.")

enter your password pleaseMAJED
please enter your Password again SAEED
password incorrect, please try again.MAJED
Password accepted.

In [ ]:
fruit =  ["Apple","Banana","Orange","Melon","Strawberry","Grape"]
print(fruit[3])
print(fruit[5])
print(fruit[0] + " " + fruit[2])
print(fruit[2])
print(fruit)

Melon
Grape
Apple Orange
Orange
['Apple', 'Banana', 'Orange', 'Melon', 'Strawberry', 'Grape']

ADD AND REMOVE FROM A LIST

In [ ]:
#TASK 1
food = ["bacon", "cheese", "pasta" , "beans"]
#append will add a variable to the list
#insert 1 ice cream will like put ice cream into the list and give it number 1
#and about remove will just kick it off
#and pop will remove the last one I GUESS
food.insert(1,"ice cream")
food.remove("cheese")
food.pop()
food.append("tomatoes")

print(food)
#the list will look like tomatoes at the last with ice cream at the second and cheese removed and beans poped
#NAH MY PREDICTION WAS NOT CORRECT AND TOMATOE APPEARED ALONE

['bacon', 'ice cream', 'pasta', 'tomatoes']

home work challenge [NOT A REAL HOMEWORK](PAUSED I DIDNT FINISH IT YET)

####i faced some lil problems so i used chat gpt just to correct things up not everything
# This is formatted as code
```

In [67]:
weapons = ["sword", "gun", "ak47", "M4"]
zombie_weakness = "sword"

def encounter_zombie():
    print("\nYou have encountered a zombie. What are you going to do, champ?")
    print("Weapons available:", weapons)

    choice = input("Choose a weapon (sword, gun, ak47, M4) or enter your own weapon: ")

    if choice.lower() == zombie_weakness:
        print("You have defeated the zombie with the sword! You win!")
    else:
        print(f"You were defeated by the zombie. Game over. The zombie's weakness was {zombie_weakness}.")

    play_again = input("Do you want to play again? (yes/no): ").lower()
    if play_again == "yes":
        encounter_zombie()
    else:
        print("Thanks for playing!")
encounter_zombie()

You have encountered a zombie. What are you going to do, champ?
Weapons available: ['sword', 'gun', 'ak47', 'M4']
Choose a weapon (sword, gun, ak47, M4) or enter your own weapon: ak47
You were defeated by the zombie. Game over. The zombie's weakness was sword.
Do you want to play again? (yes/no): yes

You have encountered a zombie. What are you going to do, champ?
Weapons available: ['sword', 'gun', 'ak47', 'M4']
Choose a weapon (sword, gun, ak47, M4) or enter your own weapon: sword
You have defeated the zombie with the sword! You win!
Do you want to play again? (yes/no): no
Thanks for playing!

SUBROUTINE

In [ ]:
def add_five(num1):
  print(num1 + 5)
print ("")
add_five(42)

47

In [68]:
def add(a,b,c):
  sum = a+b+c
  return sum
def multiply(d,f):
  most = d*f
  return most
def divide(e,g):
  if divide==0:
    print("invalid")
  else:
    return (g/e)
def subtract(h,i):
  never = h-i
choose = int(input("choose a number to calculate , 1 is to add 2 to subtract 3 to multiply 4 to divide"))
num1 = int(input("Enter a number"))
num2 = int(input("Enter a number"))


if choose==1:
  print(add(num2,num1))
elif choose==2:
  print(subtract(num2,num1))
elif choose==3:
  print(multiply(num2,num1))
elif choose==4:
  print(divide(num2,num1))
else:
  print("sorry choose a number between 1 to 4")

choose a number to calculate , 1 is to add 2 to subtract 3 to multiply 4 to divide3
Enter a number20
Enter a number1
20

In [ ]:
myfile = open("text.txt", "r")

for line in myfile:
  print(line)
myfile.close()

ddasss

In [ ]:
myfile = open("text.txt", 'w')

myfile.write("andy")

myfile.close()

In [ ]:
myfile = open("text.txt", 'a')

myfile.write(" How are you ?")

myfile.close()

In [ ]:
def paragraph(text):
  text = "All living things that live on this earth comes under the environment. Whether they live on land or water they are part of the environment. The environment also includes air, water, sunlight, plants, animals, etc"
  myfile = open("text.txt", "a")

  myfile.write(text)
  myfile.close
paragraph(text)

In [ ]:
counter =0
for i in range(5):
  counter +=1
  print(i)

0
1
2
3
4

#TASK - LIST ASSIGNMENT 1

In [ ]:
countries = ["uk", "usa", "chad", "australia", "thailand"]
#so we just did the list of the countries and variblated them as that so when we call countries[1] usa will appear
countries[3] = "mexico"
countries[0] = "iceland"
countries[1] = countries[4]
#i think it would be iceland,australia,chad,mexico,thailand
print(countries)

['iceland', 'thailand', 'chad', 'mexico', 'thailand']

#task list assignment 2

In [69]:
squareNumbers = [1,4,9,16,25,36]
#like a sequnce or something ?
squareNumbers[5] = 49
squareNumbers[0] +=1
total = squareNumbers[3] - squareNumbers[1]
#would be 4 4 9 16 25 49
print(squareNumbers)
print(total)

[2, 4, 9, 16, 25, 49]
12